body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
}
.container {
  padding: 2rem;
  border: 1px solid #008cba;
  max-width: 1000px;
  align-content: center;
  justify-content: center;
  align-items: left;
}
